<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.care.mapper.FoodMapper">


	<select id="selectStore" resultType="org.care.domain.StoreInfo">
		SELECT *
		FROM STOREINFO
		WHERE
		STORENO = #{storeNo}
	</select>

	<select id="storeLogin" resultType="org.care.domain.StoreInfo">
		SELECT *
		FROM STOREINFO
		WHERE
		MANAGENO = #{manageNo} and STORENO = #{storeNo}
	</select>

	<select id="selectDetail"
		resultType="org.care.domain.DetailInfo">
		SELECT *
		FROM DETAILINFO
		WHERE STORENO = #{storeNo}
	</select>


	<select id="selectReview"
		resultType="org.care.domain.ReviewInfo">
		SELECT REVIEWINFO.REVIEWNO,USERINFO.NICKNAME,  REVIEWINFO.REVIEWCONTENTS, REVIEWINFO.AVGSCORE, REVIEWINFO.REVIEWDATE
		FROM REVIEWINFO, USERINFO
		WHERE REVIEWINFO.STORENO = #{storeNo} AND REVIEWINFO.USERNO=USERINFO.USERNO
		ORDER BY REVIEWNO DESC
	</select>

	<select id="selectReviewDetail" resultType="org.care.domain.ReviewInfo">
		SELECT *
		FROM REVIEWINFO
		WHERE REVIEWNO= #{reviewNo}
	</select>
	
	
	<select id="modifyReview"> 
		UPDATE REVIEWINFO
		SET REVIEWNO = #{reviewNo}, REVIEWCONTENTS = #{reviewContents}, AVGSCORE= #{avgScore}
    	WHERE REVIEWNO = #{reviewNo}
    </select>


	<select id="selectReviewList"
		resultType="org.care.domain.ReviewInfo">
		SELECT *
		FROM REVIEWINFO
		WHERE USERNO = 1

	</select>

	<select id="selectMenu" resultType="org.care.domain.MenuInfo">
		SELECT *
		FROM MENUINFO
		WHERE
		STORENO = #{storeNo}
	</select>

	<insert id="insertReview">
		<!-- <selectKey keyProperty="reviewNo" resultType="int" order="AFTER"> 
			select REVIEWNUM.NEXTVAL from DUAL </selectKey> -->

		INSERT INTO REVIEWINFO (REVIEWNO, USERNO, STORENO,
		AVGSCORE,
		REVIEWCONTENTS, REVIEWDATE)
		VALUES(REVIEWNUM.NEXTVAL,#{arg1},#{arg0},#{arg2.avgScore},#{arg2.reviewContents},
		SYSDATE)
	</insert>

	<delete id="deleteReview" >
		DELETE REVIEWINFO
		WHERE
		REVIEWNO = #{reviewNo}
	</delete>

	<select id="selectFavorite"
		resultType="org.care.domain.Favorite">
		SELECT STOREINFO.STORENO , STOREINFO.STORENAME
		FROM
		STOREINFO, FAVORITE
		WHERE STOREINFO.STORENO = FAVORITE.STORENO AND
		FAVORITE.USERNO=1
		AND FAVORITECHECK = 'y'

	</select>

	<insert id="insertPic">
		INSERT INTO REVIEWPIC (reviewNo, userNo,storeNo,
		reviewPic1) VALUES
		(REVIEWNUM.CURRVAL,#{userNo},#{storeNo},
		#{reviewPic1})
	</insert>

</mapper>


