<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.care.mapper.FoodMapper">

	<!-- 페이징 관련 시작-->
	<select id="countReview" resultType="int">
	SELECT COUNT(*) FROM REVIEWINFO
	</select>

	
	<select id="selectReviewP" resultType="org.care.domain.ReviewInfo">
	 SELECT A.*  
     FROM (   
          SELECT ROWNUM RNUM, RINFO.*,  UINFO.USERNO as UUSER, UINFO.NICKNAME
    	  FROM REVIEWINFO RINFO, USERINFO UINFO
          WHERE RINFO.USERNO = UINFO.USERNO AND  STORENO = #{storeNo}
           ) A 
     WHERE A.RNUM BETWEEN #{reviewPaging.start} AND #{reviewPaging.end} 
     ORDER BY REVIEWNO DESC
	</select>
	<!-- 페이징 관련 끝-->
	
	
	<select id = "selectAvg" resultType="Integer">
	    SELECT ROUND(AVG(AVGSCORE),2) 
		FROM REVIEWINFO  
		WHERE STORENO = #{storeNo}
	</select>
	
	<select id="selectStore" resultType="org.care.domain.StoreInfo">
		SELECT *
		FROM STOREINFO
		WHERE
		STORENO = #{storeNo}
	</select>

	<select id="storeLogin" resultType="org.care.domain.StoreInfo">
		SELECT *
		FROM STOREINFO
		WHERE
		MANAGENO = #{manageNo} and STORENO = #{storeNo}
	</select>

	<select id="selectDetail"
		resultType="org.care.domain.DetailInfo">
		SELECT *
		FROM DETAILINFO
		WHERE STORENO = #{storeNo}
	</select>


	<select id="selectReview" resultType="org.care.dto.ReviewDTO">
		 SELECT A.*, B.REVIEWPIC1 AS pFile , USERINFO.NICKNAME
 		 FROM  REVIEWINFO A LEFT JOIN REVIEWPIC B ON A.REVIEWNO = B.REVIEWNO , USERINFO
         WHERE A.STORENO= #{storNo} AND A.USERNO=USERINFO.USERNO
         ORDER BY A.REVIEWNo DESC
	</select>

	<select id="selectReviewDetail"
		resultType="org.care.domain.ReviewInfo">
		SELECT *
		FROM REVIEWINFO
		WHERE REVIEWNO= #{reviewNo}
	</select>


	<select id="modifyReview">
		UPDATE REVIEWINFO
		SET REVIEWCONTENTS = #{reviewContents}, AVGSCORE=#{avgScore}
		WHERE REVIEWNO = #{reviewNo}
	</select>

	<select id="selectMenu" resultType="org.care.domain.MenuInfo">
		SELECT *
		FROM MENUINFO
		WHERE
		STORENO = #{storeNo}
	</select>

	<insert id="insertReview">

		INSERT INTO REVIEWINFO (REVIEWNO, USERNO, STORENO,
		AVGSCORE,
		REVIEWCONTENTS, REVIEWDATE)
		VALUES(REVIEWNUM.NEXTVAL,#{arg1},#{arg0},#{arg2.avgScore},#{arg2.reviewContents},
		SYSDATE)
	</insert>

	<delete id="deleteReview">
		DELETE REVIEWINFO
		WHERE REVIEWNO =
		#{reviewNo}
	</delete>

	<select id="selectFavorite"
		resultType="org.care.domain.Favorite">
		SELECT STOREINFO.STORENO , STOREINFO.STORENAME
		FROM
		STOREINFO, FAVORITE
		WHERE STOREINFO.STORENO = FAVORITE.STORENO AND
		FAVORITE.USERNO=#{userNo}
		AND FAVORITECHECK = 'y'

	</select>

	<insert id="insertPic">
		INSERT INTO REVIEWPIC (reviewNo, userNo,storeNo,
		reviewPic1) VALUES
		(REVIEWNUM.CURRVAL,#{userNo},#{storeNo},
		#{reviewPic1})
	</insert>

</mapper>


