<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.care.mapper.ReviewMapper">


	<select id="selectReview"
		resultType="org.care.domain.ReviewInfo">
		SELECT REVIEWCONTENTS, AVGSCORE, REVIEWDATE, USERINFO.NICKNAME
		from REVIEWINFO ,USERINFO
		where STORENO = ?;
	</select>

</mapper>
